# Build artifacts
dist/
resources.rcc
*.tar.gz

# Preview build artifacts
preview/preview-app
preview/*.o
preview/moc_*
preview/Makefile*
preview/.qmake.stash
preview/ui

# OS / Editor files
.DS_Store
*.swp
*~
